<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Update information</title>
  </head>
  <body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Update Your info</h1>
  </div>
    <!-- Form -->
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger text-center"><b>Note : &nbsp; ' * ' mentioned inputs are mandatory </b></li>
        </ul>
<br>
        <form method="post" action="">
            {% csrf_token %}
    <!-- Full Name-->
  <div class="form-group row">
    <label for="inputname" class="col-sm-2 col-form-label">Name of Paticipant<sup>*</sup></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputname" name="name" required placeholder="Enter Your Full Name">
    </div>
  </div>
   <!--Game Name-->
  <div class="form-group row">
    <label for="inputgame" class="col-sm-2 col-form-label">Game<sup>*</sup></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputgame" name="game" required placeholder="Enter a game you want to particiate among available ones">
    </div>
  </div>
    <!--Team Name-->
   <div class="form-group row">
    <label for="inputteam" class="col-sm-2 col-form-label">Team name<sup>*</sup></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputteam" name="team" required placeholder="Enter the team name you want to participate in">
    </div>
  </div>
    <!--Age-->
   <div class="form-group row">
    <label for="inputage" class="col-sm-2 col-form-label">Age<sup>*</sup></label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputage" name="age" required placeholder="Enter your age">
    </div>
  </div>
   <!--Institute name-->
   <div class="form-group row">
    <label for="inputinstitute" class="col-sm-2 col-form-label">Institute name<sup>*</sup></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputinstitute" name="institute" required placeholder="Enter your Institute name">
    </div>
  </div>
    <!--State-->

   <div class="form-group row">
    <label for="inputstate" class="col-sm-2 col-form-label">State name<sup>*</sup></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputstate" name="state" required placeholder="Enter your state">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">

    </div>
  </div>

      <button type="submit" class="btn btn-outline-success" >Update</button>
       <a class="btn btn-outline-primary" href="/{{a}}/{{b}}/{{c}}/" role="button">Back</a>


</form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>
